.taskCell{
   /* border-inline-start: 1px solid currentColor; */
   border-block-end: 1px solid currentColor;
   padding: .25rem;
}




.taskCell:nth-child(1n){
    border-inline-start: 1px solid currentColor;
    
 }

.taskCell.is-active::before{

    content: '(Sin Titulo)';
    font-size: small;
    background: #c6dafc;
    display: block;
    padding: .25rem;
    border-radius: .25rem;
    box-shadow: 0 0 10px rgba(0,0 ,0 ,.30);



}